#app-container {
  height: 70vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
}

#children-container {
  width: 50vw;
}

#map-container {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
