#app-container {
  height: 70vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
}

#children-container {
  width: 50vw;
  background-color: #F1EFE9;
}

#map-container {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1EFE9;
/*  background-color: rgba(35, 35, 35, 1);*/
}
